.page-container {
    display: flex;
    justify-content: center;

    .layout-container {
        display: flex;
        flex-direction: column;
        width: min(100%, 390px);
        height: 100vh;
        justify-content: space-between;

        .header {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px 10px 0px 10px;

            .layout {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;

                .btn {
                    cursor: pointer;
                    background-color: #ee7544;
                    width: min(50%, 170px);
                    color: white;
                    border-radius: 7px;
                    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
                    height: 30px;
                    font: 600 13px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                }

                .btn:hover {
                    background-color: #fa8557;
                }

                .btn:active {
                    background-color: #f74702;
                }

                .question-field {
                    text-align: center;
                    font: 600 18px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                }

                .search-field {
                    border-radius: 20px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    width: min(270px, 100%);
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0 10px 0 10px;
                    gap: 5px;
                    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);

                    i {
                        font-size: 16px;
                        opacity: 0.7;
                    }

                    input {
                        border: none;
                        outline: 0;
                        height: 28px;
                        width: 225px;
                        font-weight: 600;
                    }

                    img {
                        cursor: pointer;
                        width: 16px;
                    }
                }

                .categories {
                    width: 100%;
                    font: 600 25px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                }
            }

            .body {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;

                .tab-field {
                    display: flex;
                    justify-content: center;
                    gap: 30px;

                    .active {
                        opacity: 1;
                        text-decoration: underline;
                        text-decoration-color: red;
                    }

                    div {
                        cursor: pointer;
                        font: 600 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                        color: black;
                        opacity: 0.6;
                    }
                }

                .item-field {
                    display: flex;
                    flex-direction: row;
                    gap: 25px calc((100% - 330px) / 3);
                    flex-wrap: wrap;
                    width: min(100%, 520px);

                    .card {
                        cursor: pointer;
                        width: 110px;
                        height: 130px;
                        border-radius: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        transition: 3s;
                        span {
                            font: 600 18px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
                        }
                        img {
                            max-width: 110px;
                            max-height: 100px;
                        }
                        p {
                            display: none;
                        }
                    }

                    .card:hover {
                        box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.2);
                    }

                    .card:active {
                        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        .footer {
            background-color: #d9d9d9;
            min-height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            a {
                color: rgba(0, 0, 0, 0.5);
            }

            i {
                cursor: pointer;
                font-size: 30px;
            }

            .selected {
                color: #ee7544;
            }
        }
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    position: relative;
    display: block;
    line-height: 30px;
    color: black;
    padding: 7px;
}

.icon-active{
    position: relative;
    display: block;
    line-height: 50px;
    color: #FF6D33;
}

.icon:hover{
    color: #FFE7D5;
    transform: translateY(-10px);
    transition: 0.5s;
}